{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
    {% block stylesheets %}

    
     {% endblock %}

{% block body %}
<div class="container-fluid red">
<img class="bazta" src="{{ asset('img/img.jpg') }}">

<button class="btn btn-primary bt">s'enregistrer</button>

</div>


<div class="container">






</div>



</div>
{% endblock %}
